
        img {

            width: 100px;
            border-radius: 50px;
            float: left;
            margin-right: 10px;
        }

        .section {
            font-weight: bold;
        }
     
        ul li:nth-child(3n){
            color: deeppink;
        
        }


        a:hover,
    a:focus {
        color: burlywood;
    }


    .first-letter {
        font-size: 140%;
        font-weight: bold;
    }


   