/*my bio exersises*/
.back {
    background: url(../images/OIP\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position-x: center;

   

}

.back{
    color: white;
}
.tweet{
    background-color: gold;
    float: left;
    height: 5rem;
    margin-right:1rem;
    width: 5rem;
   overflow: hidden;
}

        img {

            border-radius: 0px;
            float: left;
            margin-right: 10px;
            width: 100px;
        }

        .section {
            font-weight: bold;
        }
     
        ul li:nth-child(0n){
            color: deeppink;
        
        }
.first-letter{
    font-weight: bold;
    font-size: 140%;
}

        a:hover,
    a:focus {
        color:red;
    }


    .pre::first-line {
        font-size: 140%;
        font-weight: bold;
    }
    ::selection{
        background-color: brown;
    }


    .yemayhonuu{
        border: 1px solid gray;
        color: blue;
      
    }
.no {
    border: inherit;
    color: initial;
}
.merak {
    color: brown;
    
}
span {
    border: 1px solid black;
}
   


.box { 
   
    background: rgb(188,212,57);
align-items: center;
background: linear-gradient(90deg, rgba(188,212,57,1) 19%, rgba(21,151,123,1) 68%);
box-shadow: 0 0 30px gray;
display: flex;
flex-direction: column;

    
}
.p{
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2) ;
}
a{
    color: rgb(255, 230, 0);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    
   
}
.images{
   
    
    align-items: center;
    height: 400px;
    margin: 50px;
    width: 400px;
   
}


/* table exercise*/
*, ::before,::after {
    box-sizing: border-box;
}


table{     
    border-collapse: collapse;
    margin-top: 50px;
}
th {
    background-color: #427fef;
}
td{
    
    border-color: #c4dcf3;
    border: 0px solid gray;
    padding: 5px;
   
}
.odd {
    background-color: #eef7ff;
}
.black{
    color: black;
    
}

.shadow {
    background-color: tomato;
    box-shadow:10px 10px  lightgray;
    font-family:Roboto;
    font-size: medium;
    height: 300px;
    margin: 20px;
    overflow: scroll;
    width: 300px;
   }
   tfoot{
    text-align: left;
   }
   .totalbirr{
    text-align: center;
   }


   .ox{
   
    background-color: red;
    bottom: 4rem;
    display: inline-block;
    display: inline-block;
    height: 100px;
    left: 19rem;
    margin: 5px;
    overflow: scroll;
    position: relative;
    width: 100px;
    z-index: 1;
   }
   .ox::before{
    content:"Hello";
   
   }

   
   .ox{
   
    background-color: red;
    font-display: swap;
    height: 100px;
    width: 100px;
   }
/*flexbox
   .continer{
    align-content: center;
    align-items: center;
    border: 2px solid lightgrey;
    display: flex;
    flex-direction: row;
    height: 90vh;
    justify-content: space-evenly;
   }
.flex{
    
    background-color: gold;
    flex-basis: 15rem;
    flex-shrink: 1;
    height: 5rem;
    margin: 1rem;
    width: 5rem;
}*/
.box-one {
    flex-basis: 15rem;
align-self:center;
}

.contine{
    display: flex;
    flex-direction: column;
   
}
.boxx{
    background-color: gold;
    padding: 1rem;
}
.boxx:nth-of-type(2){
    background-color: aqua;
}
@media screen and (min-width:600px) {
    .contine{
        flex-direction: column;
    }
    
}


/*form*/
.form{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding: 5rem;
}
label{
    display: block;
}
input[type='text'],
input[type='email'],
input[type='password'],
input[type='password'],
input[type='textarea']
 {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem 0.7rem;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="textarea"]:focus
{
    border-color: #7db0fb;
    box-shadow: 0 0 0 4px rgb(24,117, 255, 0.25);
    outline: 0;
}
.form-group{
    margin-bottom: 1rem;
}
.button{
    background-color: #0d6efd;
    border-radius: 5px;
    border: 0;
    color: #fff;
    padding: 0.5rem 0.7rem;
}
textarea{
    margin-top: 1rem;
    resize: none;
}
.select{
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 0.5rem;
    padding: 0.5rem 0.7rem;
}
fieldset{
    border: 0;
  
}
.space{
    margin: 10px;
}
.regi,.example,.challenege{
    color: black;
}


/*exersise challenge*/

.mob {
         border: 2px solid #ccc;
    background-color: black;
   align-items: center;
   display: flex;
   flex-direction:row;
   gap: 1rem;
   justify-content: end;
   padding: 10px;
   
}


.boxxx{
 
color: white;
}
.mobi {
         
    background-color: black;
   color: white;
   display: flex;
   padding: 10px;
  justify-content: center;
   
}
.mobi{
   gap: 1rem;
}


/*challlenge2 */


.chall{
    align-items: center;
    border: 2px solid #ccc;
    column-gap: 1rem; 
    display: grid;
    grid-template: repeat(4, 100px)/ repeat(2, 100px);
    height: 80vh;
    justify-content: center;
    justify-items: center;
    margin-top: 5rem;
    row-gap: 1rem;
 align-content: center;
}
.chall{
    background-color: blue;
    
}

.image {
  margin: 1rem;
 
} 

.challl{
  
    align-items: center;
    border: 2px solid #ccc;
    column-gap: 1rem;
    display: grid;
    grid-template: repeat 30fr 70fr/ repeat 30fr 70fr;
    height: 100vh;
    justify-content: center;
    justify-items: center;
    margin-top: 10rem;
    overflow: scroll;
    row-gap: 1rem;
 align-content: center;
   
}
.challl{
    background-color: lightblue;
    
}




.challll{
    align-items: center;
    border: 2px solid #ccc;
    column-gap: 1rem;
    display: grid;
    grid-template: repeat(4, 100px)/ repeat(2, 100px);
    height: 80vh;
    justify-content: center;
    justify-items: center;
    margin-top: 5rem;
    row-gap: 1rem;
 align-content: center;
   
   
}

.challll{
    background-color: rgb(131, 94, 94);
    
}



/*challenge 3*/

.unorder list{
    color: black;
}
.continerr{
 
    border: 2px solid black;
   margin-top: 2rem;
  font-family: serif;
  font-size: 62.5%;
  
}
.margin{
    margin: 1rem;
}
.imageforchalleng3{
    width: 100%;
}
.heading{
    font-family: sans-serif;
}
/*challeneg4*/

.challege4 {
    background: url(../images/jeremy.jpg);
    margin-top: 2rem;
color: white;
height: 70vh;

}
.heightt {
    height:80vh;
    margin: 3rem;
  font-size: medium;
   
}
.hubble {
    margin: 8rem;
    text-align: center;
}
.year{
   
    
    background-color: #ccc;
    border: px solid black;
    margin-top: 2rem;
    text-align: center;
   color: black;
   display: inline;
   padding: 5px;
}
/*challenge 5*/

.icons{
    background: #2a2138;
    height: 100vh;
    margin-top: 2rem;
    width: 100%;
   color: white;
  

}  
.dash{
    margin: 1rem;
    padding: 1rem;
  text-align: start;
}
.dash:hover{
    color: #ccc;
}
    
/*challenge 6*/
.sign{
    
    background: #f5f5f5;
    height: 80vh;
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}
.sign{
    padding-top: 10rem;
    padding-right:1rem;
    
   
}


 .input:focus{
    border-color: #ced4da;
   
 }
 .input{
    border-radius: 13px;
    border-color: #86b7fe;
    box-shadow:#b9d3fa;
    margin: 2px;
 }
 
 .signin {
    background-color: #0d6efd;
    border-radius: 13px;
    border: 0;
    color: #fff;
    padding: 0.5rem 0.7rem;
    width: 12rem;
}

/*challenege 7*/




.transform1{
    display: flex;
    background-color: gold;
    border:2px solid #c4dcf3;
text-align: justify;
text-indent: 3rem;
}
.transform1{
    margin-top: 10rem;

}

.transform1:hover{
    transform-origin: 0 50%;
    transform:perspective(200px) rotate(45deg);
background-color: lightblue;
transition: transform 0.5s linear 1s;
}

.transform2{
    
    background-color: #7db0fb;
  
}
.transform2{
    width: 100px;
    height: 100px;
   display: flex;
   overflow: scroll;
  margin-top: 3rem;
  animation-name: pop ;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate;
 
}
.transform2:hover{
    transform-origin: 0 50%;
    transform:perspective(200px) rotate(45deg);
background-color: lightblue;
transition: transform 0.5s linear 1s;

}
.center{
    align-items: center;
   overflow: hidden;
  padding-bottom: 5rem;
  padding-left: 5rem;
  overflow: scroll;
}
 @keyframes pop {
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.3);
    }
    50%{
        transform: rotate(45deg);
        background-color: tomato;
    }
    100%{
        transform:rotate(0);
    }
 }
