
        img {

            width: 100px;
            border-radius: 50px;
            float: left;
            margin-right: 10px;
        }

        .section {
            font-weight: bold;
        }
     
        ul li:nth-child(3n){
            color: deeppink;
        
        }
.first-letter{
    font-weight: bold;
    font-size: 140%;
}

        a:hover,
    a:focus {
        color: burlywood;
    }


    .pre::first-line {
        font-size: 140%;
        font-weight: bold;
    }
    ::selection{
        background-color: brown;
    }


    .yemayhonuu{
        color: blue;
        border: 1px solid gray;
      
    }
.no {
    color: initial;
    border: inherit;
}
.merak {
    color: brown;
    
}
span {
    border: 1px solid black;
}
   